@charset "UTF-8";

* {
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
